<h1><%= title %></h1>
<p> Welcome, <%= accountData.account_firstname %> <%= accountData.account_lastname%>!</p>
<% if (Array.isArray(errors) && errors.length > 0) { %>
  <div class="error-messages">
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg || error %></li> 
      <% }) %>
    </ul>
  </div>
<% } %>


<% if (typeof message !== 'undefined') { %>
  <div class="flash-message"><%= message %></div> 
  <p>You're logged in! </p>
  <% } %>